<body class="min-h-screen bg-gradient-to-br from-slate-950 via-slate-900 to-slate-950 overflow-x-hidden flex flex-col items-center justify-center">
    <div class="absolute inset-0 bg-gradient-to-br from-[#39BDFF]/20 to-[#64DDFF]/20 backdrop-blur-lg blur-3xl rounded-full pointer-events-none h-90 w-90 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></div>
    <div class="flex flex-col justify-center items-center glass-card w-[55%] p-6 rounded-2xl gap-2">
        <div class="text-center">
            @if( error?.errorCode) {
                <h1 class="text-2xl">{{ error.errorCode }}</h1>
                <P class="text-lg">{{ error.errorMessage }}</P>
            } @else {
                 <h1 class="text-2xl">ERROR</h1>
            }
         </div>
            
        <div class="flex items-center justify-center p-1">
            <i class="pi pi-times-circle" style="color: red; font-size: 10rem;"></i>
        </div>
        <div class="text-center text-xl">
            <h2 class="font-bold">HA OCURRIDO UN ERROR!!!!</h2>
            <P class="text-base">Vuelva a intertarlo mas tarde</P>
        </div>
    </div>
    <div class="flex items-center justify-center p-2 gap-2 relative">
        <i class="pi pi-arrow-left"></i>
        <p (click)="navigate()" class="cursor-pointer">Volver al dashboard</p>
    </div>
    
</body>

