
<div class="flex flex-col gap-4 items-center justify-center min-h-screen">
    <div class="absolute inset-0 bg-gradient-to-br from-[#39BDFF]/20 to-[#64DDFF]/20 backdrop-blur-lg blur-3xl rounded-full pointer-events-none h-70 w-70 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></div>
    <div>
        <h2 class="text-white font-bold text-2xl">TFG</h2>
    </div>

    <div class="glass-card p-6 rounded-2xl flex flex-col gap-3 w-[80%] sm:w-[50%]">

        @if (validating() && !tokenValid() && !changed()) {
            <div class="flex flex-col items-center justify-center gap-3 p-20 text-center">
                <i class="pi pi-spinner pi-spin text-[#39BDFF]" style="font-size: x-large;"></i>
                <p class="text-slate-300 font-medium text-2xl">Validando enlace</p>
                <p class="text-slate-500 font-medium">Estamos verificando que el enlace sea válido, espera un momento</p>
            </div>
        } @else if(!validating() && !tokenValid() && !changed()){
            <div class="flex flex-col items-center justify-center gap-3 p-5 text-center">
                <div class="bg-red-500/20 border border-red-500/40 rounded-full w-15 h-15 flex items-center justify-center">
                    <i class="pi-exclamation-circle pi text-red-500" style="font-size: 1.5rem;"></i>
                </div>
                <p class="text-slate-300 font-medium text-2xl">Enlace no válido</p>
                <p class="text-slate-500 font-medium">Este enlace de recuperación ha expirado o no es válido</p>
                <div class="text-center">
                    <p class="bg-gradient-to-r from-[#39BDFF] to-[#64DDFF] hover:from-[#2DA8E8] hover:to-[#51CAEF] cursor-pointer hover:scale-102 transition-all duration-300 rounded-lg p-2 text-center flex items-center justify-center text-slate-950 font-bold gap-2" [routerLink]="['/forgot-password']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Solicitar nuevo enlace</p>
                </div>
            </div>
        } @else if(!validating() && tokenValid() && changed()){
            <div class="flex flex-col items-center justify-center gap-3 p-5 text-center">
                <div class="bg-green-500/20 border border-green-500/40 rounded-full w-15 h-15 flex items-center justify-center">
                    <i class="pi-check pi text-green-500" style="font-size: 1.5rem;"></i>
                </div>
                <p class="text-slate-300 font-medium text-2xl">Contraseña actualizada</p>
                <p class="text-slate-500 font-medium">Ya puedes acceder al dashboard con tu nueva contraseña</p>
                <div class="text-center">
                    <p class="bg-gradient-to-r from-[#39BDFF] to-[#64DDFF] hover:from-[#2DA8E8] hover:to-[#51CAEF] cursor-pointer hover:scale-102 transition-all duration-300 rounded-lg p-2 text-center flex items-center justify-center text-slate-950 font-bold gap-2" [routerLink]="['/login']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Iniciar sesión</p>
                </div>
            </div>
        } @else if(!validating() && tokenValid() && !changed()){
        <div>
            <h2 class="text-white font-bold text-lg text-center">Crear nueva contraseña</h2>
            <p class="text-slate-300 text-center">Tu nueva contraseña debe ser diferente a las anteriores</p>
        </div>
        <form (ngSubmit)="onSubmit(changePasswordForm)" #changePasswordForm="ngForm">
            <div class="grid grid-cols-1 gap-4">
                <div class="flex flex-col">
                    <label for="password" class="text-slate-300">Nueva contraseña</label>
                    <div class="relative">
                    <input ngModel name="password" id="password" type="{{showPassword() ? 'text' : 'password'}}" placeholder="••••••••••" required 
                            class="p-2 pr-10 w-full rounded-lg bg-slate-900/50 border border-slate-700 
                                text-white placeholder:text-slate-500 focus:border-[#39BDFF]" 
                        />
                        <button type="button" (click)="toggleShowPassword()"
                                class="absolute inset-y-0 right-0 flex items-center pr-3 text-slate-400">
                        <i class="pi {{showPassword() ? 'pi-eye-slash' : 'pi-eye'}} "></i>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col">
                    <label for="repeatedPassword" class="text-slate-300">Repetir nueva contraseña</label>
                    <div class="relative">
                    <input ngModel name="repeatedPassword" id="repeatedPassword" type="{{showPassword() ? 'text' : 'password'}}" placeholder="••••••••••" required 
                            class="p-2 pr-10 w-full rounded-lg bg-slate-900/50 border border-slate-700 
                                text-white placeholder:text-slate-500 focus:border-[#39BDFF]" 
                        />
                        <button type="button" (click)="toggleShowPassword()"
                                class="absolute inset-y-0 right-0 flex items-center pr-3 text-slate-400">
                        <i class="pi {{showPassword() ? 'pi-eye-slash' : 'pi-eye'}} "></i>
                        </button>
                    </div>
                </div>
                <button type="submit" class=" bg-gradient-to-r from-[#39BDFF] to-[#64DDFF] hover:from-[#2DA8E8] hover:to-[#51CAEF] cursor-pointer hover:scale-102 transition-all duration-300 rounded-lg p-2 text-center flex items-center justify-center text-slate-950 font-bold gap-2">
                        Actualizar contraseña
                </button>
                @if (errorMessage) {
                    <div class="p-2 rounded-lg bg-red-500/20 border border-red-500 text-red-300 flex-wrap break-words">
                        {{ errorMessage }}
                    </div>
                }
                <div class="text-center">
                    <p class="text-slate-300">¿Te has acordado de la contraseña? <span [routerLink]="['/login']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="text-[#39BDFF] font-bold cursor-pointer">Inicia sesión</span></p>
                </div>
            </div>
        </form>
        }
        
    </div>
    <div [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="flex gap-2 text-center cursor-pointer items-center justify-center text-slate-300 text-sm">
        <i class="pi pi-arrow-left"></i>
        <p>Volver al inicio</p>
    </div>
</div>
