<div class="glass-card {{collapsed() ? 'max-h-22 sm:max-h-24' : 'max-h-screen'}} text-xs lg:text-base rounded-2xl p-6 animate-fade-in2 overflow-hidden transition-all duration-700 ease-in-out">
    <div class="flex justify-between mb-6">
        <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-lg bg-gradient-to-r from-[#39BDFF]/20 to-[#64DDFF]/20 flex items-center justify-center">
                <i class="pi pi-car pi text-[#39BDFF]"></i>
            </div>
            <div>
                <h2 class="text-medium sm:text-lg font-semibold text-white">Lista de Coches</h2>
                <p class="text-xs sm:text-sm text-slate-400">Resultado de Coches Comparados</p>
            </div>
        </div>
        
        <div class="flex-end flex items-center justify-center">
            <i (click)="toggleCollapse()" class="pi-angle-up pi text-[#39BDFF] text-slate-400 hover:bg-slate-700 p-3 rounded-xl cursor-pointer hover:text-white transition-all duration-500" [class.rotate-180]="collapsed()"></i>
        </div>
    </div>
    @if(listLength() === 0) {
       
        <div class="flex flex-col items-center justify-center gap-2 py-10 px-5">
            <div class="bg-slate-800 rounded-full w-20 h-20 flex items-center justify-center mb-2">
                <i class="pi-exclamation-circle pi text-slate-500" style="font-size: 1.5rem;"></i>
            </div>
            <h3 class="text-lg sm:text-xl font-semibold text-white">Sin análisis activo</h3>
            <p class="text-slate-400 text-center">Introduce los datos del vehículo en el formulario para obtener un análisis de rentabilidad</p>
        </div>
    } @else {
        @if(isLoading()) {
             <div class="flex flex-col items-center justify-center gap-2 py-10 px-5">
                <div class="flex items-center justify-center mb-2">
                    <i class="pi pi-spin pi-spinner text-[#39BDFF]" style="font-size: 2rem;"></i>
                </div>
                <h3 class="text-lg sm:text-xl font-semibold text-white text-center">Analizando mercado...</h3>
                <p class="text-slate-400 text-center">Buscando vehículos similares en páginas públicas y calculando el resultado del análisis</p>
            </div>
        } @else {
            <div class="overflow-y-scroll overflow-x-hidden h-120 flex-col">
                @for (vehicle of vehicleList(); track $index) {
                    <a href="{{ vehicle.webVehicleUrl }}" target="_blank">
                        <div class="flex flex-row p-3 w-full">  
                            <div class="grid grid-row items-center justify-around items-start text-center
                            shadow-xl rounded-xl px-5 pt-6 pb-6 hover:scale-85 hover:shadow-gray-200
                            duration-300 delay-0 w-full bg-slate-900/50 lg:justify-between lg:gap-3 lg:px-4 lg:text-sm md:grid-cols-5 sm:gap-2 sm:grid-cols-2 relative overflow-hidden">
                            
                            @if(vehicle.sell){
                                <div class="absolute top-0 -right-7 bg-green-500/50 text-white rounded-lg text-center text-xs p-1 rotate-45 h-10 flex items-end justify-center w-24">
                                    <span class="font-bold">VENDIDO</span>
                                </div>
                               }
                                <div class="flex justify-center md:row-span-2 md:col-span-1 sm:col-span-2">
                                    <img src="{{vehicle.image}}" alt="Foto del Vehiculo" class="h-30 md:w-full md:object-contain sm:w-[60%] sm:object-cover sm:rounded-2xl">
                                </div>
                                <div><span class="font-bold">MARCA:</span> <br> {{ vehicle.brand }}</div>
                                <div><span class="font-bold">MODELO:</span> <br>  {{ vehicle.model }}</div>
                                <div><span class="font-bold">PRECIO:</span> <br>  {{ vehicle.price }}€</div>
                                <div><span class="font-bold">AÑO:</span> <br>  {{ vehicle.year }}</div>
                                <div><span class="font-bold">TIPO DE GASOLINA:</span> <br>  {{ vehicle.fuelType }}</div>
                                <div><span class="font-bold">CABALLOS:</span> <br>  {{ vehicle.horsePower }}</div>
                                <div><span class="font-bold">KILOMETROS:</span> <br>  {{ vehicle.kilometers }} km</div>
                                @if(vehicle.sell){
                                    <div><span class="font-bold">TIEMPO DE VENTA:</span> <br> {{ vehicle.publishedDate | date:'short'}} - {{ vehicle.removeData | date:'short' }}</div>
                                } @else {
                                    <div><span class="font-bold">FECHA DE PUBLICACIÓN:</span> <br> {{ vehicle.publishedDate | date:'short'}}</div>
                                }
                               
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    }
</div>