<div class="glass-card {{collapsed() ? 'max-h-22 sm:max-h-22' : 'max-h-270 sm:max-h-225 lg:max-h-175'}} text-xs lg:text-base rounded-2xl p-6 animate-fade-in2 overflow-hidden transition-all duration-700 ease-in-out">
    <div class="flex justify-between mb-6">
        <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-lg bg-gradient-to-r from-[#39BDFF]/20 to-[#64DDFF]/20 flex items-center justify-center">
                <i class="pi pi-sign-out pi text-[#39BDFF]"></i>
            </div>
            <div>
                <h2 class="text-medium sm:text-lg font-semibold text-white">Cerrar Sesión</h2>
                <hr>
            </div>
        </div>
        
        <div class="flex-end flex items-center justify-center">
            <i (click)="toggleCollapse()" class="pi-angle-up pi text-[#39BDFF] text-slate-400 hover:bg-slate-700 p-3 rounded-xl cursor-pointer hover:text-white transition-all duration-500" [class.rotate-180]="collapsed()"></i>
        </div>
    </div>

    <div class="flex justify-center">
        @if(isLoading()) {
            <div class="flex flex-col items-center justify-center text-center gap-2">
                <i class="pi pi-spin pi-spinner text-[#39BDFF]"  style="font-size: 2rem;"></i>
                <h2 class="text-xl">Comprobando Autenticación...</h2>
            </div>
        } @else {
            <div>
                <button (click)="clickEvent()" class="bg-red-500/50 border border-red-500 rounded-2xl p-2 hover:scale-105 hover:bg-red-500/100 hover:-rotate-10 duration-300 cursor-pointer">Cerrar Sesion</button>
            </div>
        }
    </div>
</div>