
<div class="flex flex-col gap-4 items-center justify-center min-h-screen">
    <div class="absolute inset-0 bg-gradient-to-br from-[#39BDFF]/20 to-[#64DDFF]/20 backdrop-blur-lg blur-3xl rounded-full pointer-events-none h-70 w-70 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></div>
    <div>
        <h2 class="text-white font-bold text-2xl">COMPARATOR IA</h2>
    </div>

    <div class="glass-card p-6 rounded-2xl flex flex-col gap-3 w-[80%] sm:w-[50%]">
        <div>
            <h2 class="text-white font-bold text-lg text-center">¿Olvidaste tu contraseña?</h2>
            <p class="text-slate-300 text-center">No te preocupes, te enviaremos un enlace para restablecer tu contraseña</p>
        </div>
        <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm">
            <div class="grid grid-cols-1 gap-4">
                <div class="flex flex-col">
                    <label for="email" class="text-slate-300">Correo electrónico</label>
                    <input ngModel name="email" id="email" placeholder="Ej: pepe@gmail.com" type="text" required
                        class="p-2 rounded-lg bg-slate-900/50 border border-slate-700 text-white 
                                placeholder:text-slate-500 focus:border-[#39BDFF]" />
                </div>
                <button type="submit" [disabled]="counter() > 0" class=" bg-gradient-to-r from-[#39BDFF] to-[#64DDFF] hover:from-[#2DA8E8] hover:to-[#51CAEF] cursor-pointer hover:scale-102 transition-all duration-300 rounded-lg p-2 text-center flex items-center justify-center text-slate-950 font-bold gap-2">
                        @if (counter() > 0) {
                            Reintentar en {{ counter() }}s
                        } @else {
                            Enviar enlace
                        }

                </button>
                @if (errorMessage) {
                    <div class="p-2 rounded-lg bg-red-500/20 border border-red-500 text-red-300 flex-wrap break-words">
                        {{ errorMessage }}
                    </div>
                }
                <div class="text-center">
                    <p class="text-slate-300">¿Te has acordado de la contraseña? <span [routerLink]="['/login']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="text-[#39BDFF] font-bold cursor-pointer">Inicia sesión</span></p>
                </div>
            </div>
        </form>
    </div>
    <div [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="flex gap-2 text-center cursor-pointer items-center justify-center text-slate-300 text-sm">
        <i class="pi pi-arrow-left"></i>
        <p>Volver al inicio</p>
    </div>
</div>
