<div class="flex flex-col gap-4 md:justify-around justify-center h-ful">

    @if(title() == null && messageTempo() == null) {
        <div class="flex flex-col items-center justify-center w-[100%] p-2 h-[60vh] gap-4">
            <h1 class="font-mono p-2 text-xl text-center">BIENVENIDO AL CHAT IA - Beta 0.0.1</h1>
            <p class="text-center">
                Este chat es una herramienta de inteligencia artificial diseñada para responder a tus preguntas y ayudarte con tus tareas. Ahora mismo, se encuentra en un estado de desarrollo temprano, por lo que es posible que no funcione perfectamente. Sin embargo, estamos trabajando arduamente para mejorar su rendimiento y agregar nuevas funciones. Para obtener buenos resultados a dia de hoy se sugiere al usuario que indique de manera clara y concisa lo que desea, es decir, si quiere una COMPRA - VENTA O AMBAS OPERACIONES.
                <br>
                ¡Gracias por tu paciencia y comprensión mientras seguimos desarrollando esta herramienta!
            </p>
        </div>

    }

    <div class="flex  w-full items-center justify-center">
        @if(title()) {
            <div class="flex items-center justify-center border-b-1 w-[90%]">
                <h1 class="font-mono p-2 text-xl">{{title()}}</h1>
            </div>
        }
    </div>
    
    <div class="flex flex-col md:justify-around  gap-4 p-10">
        @if(messageTempo() != null) {
            @for (messageTempo of messageTempo(); track $index) {
                @if(isRolIa(messageTempo.rol)) {
                    <div class="">
                    @if(messageTempo.message === "Cargando") {
                        <div class="flex items-center gap-2 p-2 w-[100%] md:w-[50%] rounded-xl shadow-xl bg-slate-800 shadow-slate-900">
                            <span>{{messageTempo.message}}</span>
                            <div class="flex justify-center">
                                <i class="pi pi-spin pi-spinner flex-none" style="display: inline-block;"></i>
                            </div>
                        </div>
                    } @else {
                        <app-message-ia [message]="messageTempo.message"></app-message-ia>
                    }
                    </div>
                } @else {
                    <app-message-user [messageUser]="messageTempo.message" class="flex justify-end"></app-message-user>
                }
            }
        } @else {
            @for (message of listMessages(); track $index) {
                @if(isRolIa(message.rol)) {
                    <app-message-ia [message]="message.message"></app-message-ia>
                } @else {
                    <app-message-user [messageUser]="message.message" class="flex justify-end"></app-message-user>
                }
            }

        }

    </div>
    
</div>