<div class="glass-card {{collapsed() ? 'max-h-22 sm:max-h-22' : 'max-h-270 sm:max-h-225 lg:max-h-175'}} text-xs lg:text-base rounded-2xl p-6 animate-fade-in2 overflow-hidden transition-all duration-700 ease-in-out">

    <div class="flex justify-between mb-6">
        <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-lg bg-gradient-to-r from-[#39BDFF]/20 to-[#64DDFF]/20 flex items-center justify-center">
                <i class="pi pi-pencil pi text-[#39BDFF]"></i>
            </div>
            <div>
                <h2 class="text-medium sm:text-lg font-semibold text-white">Actualizar Contraseña</h2>
                <hr>
            </div>
        </div>
        
        <div class="flex-end flex items-center justify-center">
            <i (click)="toggleCollapse()" class="pi-angle-up pi text-[#39BDFF] text-slate-400 hover:bg-slate-700 p-3 rounded-xl cursor-pointer hover:text-white transition-all duration-500" [class.rotate-180]="collapsed()"></i>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="grid grid-cols-2 items-center rounded-2xl gap-5 p-2 shadow-[-4px_4px_10px_rgba(255,255,255,0.15)] w-170">
            <div class="w-50 row-span-2 justify-self-center">
                <label for="">Contraseña Actual:</label>
                <input type="password"
                    placeholder="Introduzca su contraseña" 
                        class="w-full text-left text-white bg-slate-900/50 rounded-lg border border-slate-700 p-2 h-8"
                        [(ngModel)]="pwdCurrent"
                        (input)="pwdRepeat(); isPwdCurrentValid($event.target.value)"
                        name="pwdCurrent">
                
                @if(messageErrorCurrentPwd()) {
                    <div class="p-1 rounded-lg bg-red-500/20 border border-red-500 text-red-300 mt-2">
                        {{ messageErrorCurrentPwd() }}
                    </div>
                }
                <div class="text-xs pt-1">
                    <p class="text-slate-300">¿No te acuerdas de la contraseña? <span (click)="navigate()" class="text-[#39BDFF] font-bold cursor-pointer">Cambiar contraseña</span></p>
                </div>
            </div>
            <div class="w-50">
                <label for="">Nueva Contraseña:</label>
                <input type="password" 
                        class="w-full text-left text-white bg-slate-900/50 rounded-lg border border-slate-700 p-2 h-8"
                        placeholder="Ej: Arthur.2025"
                        [(ngModel)]="pwdNew"
                        (input)="pwdRepeat(); pwdConfirmIncorrect(); isPwdValid($event.target.value)"
                        name="pwdNew"> 
                @if(messageErrorPwd()) {
                    <div class="p-1 rounded-lg bg-red-500/20 border border-red-500 text-red-300 mt-2">
                        {{ messageErrorPwd() }}
                    </div>
                }
                 @if(messagePwdNotValid()) {
                    <div class="p-1 rounded-lg bg-red-500/20 border border-red-500 text-red-300 mt-2">
                        {{ messagePwdNotValid() }}
                    </div>
                }
            </div>
            <div class="w-50 col-start-2">
                <label for="">Confirmar Contraseña:</label>
                <input type="password" 
                        class="w-full text-left text-white bg-slate-900/50 rounded-lg border border-slate-700 p-2 h-8"
                        placeholder="Ej: Arthur.2025"
                        [(ngModel)]="pwdConfirm"
                        (input)="pwdConfirmIncorrect()"
                        name="pwdConfirm">
                @if(messageErrorPwdConfirm()) {
                    <div class="p-1 rounded-lg bg-red-500/20 border border-red-500 text-red-300 mt-2">
                        {{ messageErrorPwdConfirm() }}
                    </div>
                }
            </div>
            <div class="col-start-2 flex flex-col items-end w-full">
                @if(messageErrorPwdConfirm() || messagePwdNotValid() || messageErrorPwd()) {
                    <button class="rounded-2xl bg-gray-600 p-2 w-50 text-center text-gray-300 flex items-center gap-2">
                        Guardar Contraseña
                        <i class="pi pi-send"></i>
                    </button>
                    
                } @else {
                    <button (click)="updatePwd()" class="bg-gradient-to-r from-[#39BDFF] to-[#64DDFF] rounded-2xl p-2 hover:bg-sky-500 hover:scale-105 duration-300 cursor-pointer w-50 text-slate-950 font-bold text-center flex items-center gap-2">
                        Guardar Contraseña
                        <i class="pi pi-send"></i>
                    </button>
                    @if(messageErrorResponse()) {
                        <div class="p-1 rounded-lg bg-red-500/20 border border-red-500 text-red-300 mt-2  w-50">
                            {{messageErrorResponse()}}
                        </div>
                    }
                    @if(messageSuccesfullResponse()) {
                        <div class="p-1 rounded-lg bg-green-500/20 border border-green-500 text-green-300 mt-2  w-50">
                            {{messageSuccesfullResponse()}}
                        </div>
                    }
                }
                
            </div>
        </div>
    </div>

</div>
